#demo2 {
    font-family: lightcoral;
    color: white;
}

#example1 {
    font-family: lightcoral;
    color: white;
}

#example2 {
    font-family: lightcoral;
    color: white;
}

#example3 {
    font-family: lightcoral;
    color: white;
}

#title {
    font-family: lightcoral;
    color: white;
}

#idea {
    font-family: lightcoral;
    color: white;
}

#dd {
    font-family: lightcoral;
    color: white;
}

body
{
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}

#by {
    color: white;
}
#ss1 {
    color: white;
}
#demo {
    color: white;
}
#Example_1{
    color: white;
}
#Example_2{
    color: white;
}
#Example_3{
    color: white;
}
#tool {
    color: white;
}
#goog{
    color: white;
}
#visualstudio{
    color: white;
}
#link{
    color: white;
}
#sss{
    color: white;
}
#ss{
    color: white;
}
#ssa{
    color: white;
}
#Conclusion {
    color: white;
}
#Conclusion2 {
    color: white;
}